#!/usr/bin/env ruby

ignore "/main.*"

compile "/**/*.html" do
  if item.identifier =~ "**/index.*"
    write item.identifier.to_s
  else
    write item.identifier.without_ext + "/index.html"
  end
end

compile "/**/*" do
  write item.identifier.to_s
end
